body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.info {
  font-size: 1.3em;
  margin: 10px 0;
}

.error {
  color: yellow;
  font-weight: bold;
}
